@import '../../styles/index.scss';

.about-page-banner-content{
    padding: 10rem 2rem;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    
    h2{
        font-size: $font-size-big-responsive;
        margin: 0;
        font-weight: $weight-bolder;
    }

    h5{
        font-size: $font-size-large;
        line-height: 4rem;
        font-weight: $weight-bolder;
    }
}